/* HEADER */
.hero {
  background-color: rgb(15, 84, 123, 0.5);
  height: 470px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: -30px;
}
@media (max-width: 768px) {
  .hero {
    width: auto;
    height: 400px;
  }
}
@media (max-width: 480px) {
  .hero {
    width: auto;
    height: 360px;
  }
}
.logo {
  border-radius: 50%;
  border: 5px solid #000;
  width: 300px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .logo {
    transform: scale(0.8);
    margin-bottom: 0px;
    margin: 20px 0 -10px 0;
  }
}
@media (max-width: 480px) {
  .logo {
    transform: scale(0.7);
    margin-bottom: -25px;
    margin-top: 0px;
  }
}
.containerHero {
  display: flex;
  color: #000;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .containerHero {
    height: auto;
  }
}

/* BUTTON UI */
a {
  text-decoration: none;
}
button {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 140px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
  overflow: hidden;
  cursor: pointer;
  transform: scale(1.2);
}
button div {
  transform: translateY(0px);
  width: 100%;
}
button,
button div {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow: none;
}
button div span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0.75em 1.125em;
}
button div:nth-child(1) {
  background-color: #0f547b;
}
button div:nth-child(2) {
  background-color: #c1da99;
}
/* button:hover {
  box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
} */
button:hover div {
  transform: translateY(-50px);
}
.contact,
.whats {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.whats {
  color: #000;
}
button:active {
  transform: scale(0.95);
}
