/* NAV BAR */
.navContainer {
  background-color: #0f547b;
  padding: 20px 0 30px 0;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
}
.navLinks a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}
.navLinks a:hover {
  color:#c1da99;
  color:#000;
  transform: scale(1.2);
  transition: transform 0.4s ease;
}
@media (max-width: 768px) {
  .navLinks {
    flex-wrap: wrap;
  }
  .containerInfo {
    flex-direction: column;
  }
  .containerTexts {
    padding: 0 20px;
  }
  .containerInfo img {
    width: 900%;
    max-width: 90%;
    margin: 30px auto 0 auto;
  }
}
@media (max-width: 480px) {
  .navLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
