.logoSections {
  display: flex;
  justify-content: center;
  background-color: #c1da99;
  padding: 10px 0;
}
.logoSections img {
  width: 200px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logoSections img {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .logoSections img {
    width: 100px;
  }
}
